@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cursor-trail-color: hsla(183, 64%, 27%, 0.4);
}

.nav {
  --border-bottom-width: 1px;
  --border-color: rgba(82, 82, 82, .2);
  --border-left-width: 1px;
  --border-right-width: 1px;
  --border-style: solid;
  --border-top-width: 1px;
  backdrop-filter: blur(12px);
  background-color: rgba(28, 22, 47, .4);
  border-radius: 12px;
  width: 100%;
  opacity: 1;

  &::after {
    content: "";
    border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);
    border-color: var(--border-color, none);
    border-style: var(--border-style, none);
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    border-radius: inherit;
    pointer-events: none;
  }
}

.effect {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: space-between;
  overflow: visible;
  padding: 16px;
  position: relative;
}

.selected-text {
  @apply bg-primary-gradient;
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: max(0em, calc(calc(1.3em - 22px) / 2));
  margin: min(0em, calc(calc(1.3em - 22px) / -2));
}

.fist-neon {
  flex: none;
  height: 600px;
  left: calc(50.00000000000002% - min(1200px, 1200px) / 2);
  max-width: 1200px;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: perspective(500px);
  width: 1200px;
  z-index: 0;
}

#__next {
  height: 100%;
}

.second-neon {
  aspect-ratio: 2.1851289833080423 / 1;
  bottom: 0px;
  flex: none;
  height: 549px;
  left: calc(50.00000000000002% - min(1200px, 1200px) / 2);
  max-width: 1200px;
  overflow: visible;
  position: absolute;
  transform: perspective(1200px);
  width: 1200px;
}

.texture {
  flex: none;
  height: 100%;
  left: calc(50.00000000000002% - 100% / 2);
  opacity: .03;
  position: absolute;
  top: calc(49.974240082431756% - 100% / 2);
  width: 100%;
  z-index: 1;
}
pre[class*=language-] {
  color: #f8fafc
}

.token.class-name,.token.function,.token.selector,.token.selector .class,.token.selector.class,.token.tag {
  color: #f472b6
}

.token.attr-name,.token.important,.token.keyword,.token.pseudo-class,.token.rule {
  color: #cbd5e1
}

.token.module {
  color: #f472b6
}

.token.attr-value,.token.class,.token.property{
  @apply bg-secondary-gradient;
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.token.string {
  color: #7dd3fc
}

.token.attr-equals,.token.punctuation {
  color: #64748b
}

.language-css .token.function,.token.unit {
  color: #99f6e4
}

.token.combinator,.token.comment,.token.operator {
  color: #94a3b8
}

.container {
  width: 100%
}